.main-text,.main-text p{
    padding-left:0;
    text-align:center

}
.main-text{
    position:absolute;
    top:0;
    width:100%;
    color:#fff;
    padding-top:215px;
line-height: 1;

}
.main-text p{
    font-family:DNFForgedBlade!important
}
.main-text1:after{
    
}
.main-text .main-text2:after{
    content: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhgbf7Ny_3mNCZ2P3o9xYLBA-xJ5Cwh0Fun0ubkb21GEc8ZCoU0-xFOLr1JHp2DAxwXjraiETtTLAoOcdXNiFb4dBRQGn1SZJ7X6BplmlnrHYkGiglqj5tcGSrRBEeaYj__iWpMuGbNfieUe9FMXQjX-Zlrc_iAfnFe-TvPQYQO3oTv8LIUl45CBt_0Xi8/s16000/%EB%A7%88%EB%AA%AC%EB%A1%9C%EA%B3%A0.webp);
    font-size: 51px;
    text-shadow: #C38B61 1px 1px, #000 0px 0px, #000 1px 1px, #000 2px 2px, #000 3px 3px, #C38B61 4px 4px, #000 5px 5px;
    color: #FAECC5;
    filter: brightness(1.1) contrast(1.0) drop-shadow(2px 4px 6px black);
}


.main-date {
margin-top:0px;
}

.main-date span{

    font-size:38px;
    color:#fff;

    word-break:keep-all;
    word-wrap:break-word;

   font-weight:bold;
filter: drop-shadow(1px 5px 5px #000);
    text-shadow: 0 0 black;

}


.section-promotion{
    top:0;
}
.section-promotion .section-promotion__list{
    height:700px!important
}

.section-promotion .section-promotion__list li{
 top:-100px;
}



@media screen and (max-width:1024px){
.main-text,.main-text p{

}
    .main-text{
        padding-top:0px !important;
    }
.main-text1 {

}
	.main-text1:after{
	font-size:20px;	
}
    .main-text .main-text2:after {
       position: absolute;
        left: 50%;
        transform: translateX(-50%);
        zoom: 50%;
        font-size: 50px;
        top: -50px;
}

.main-date {
padding-top: 150px;
}
	.main-date span{
font-size:15px;
}
    .section-promotion .section-promotion__list{
        height:215px!important
    }
.section-promotion .section-promotion__list li{
top:0px;
}
    .section-promotion{
       top: 0 !important;
        padding-top: 90px !important;
    }
    #showsidebar1 img,#showsidebar2 img ,#showsidebar3 img{
        height:100px!important
    }
	#showsidebar3{
        bottom:36%!important
    }
    #showsidebar2{
        bottom:22%!important
    }
    #showsidebar1{
        bottom:8%!important
    }
}

.main-notice-text {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    background: linear-gradient(180deg, #f7f7f7 0%, #e6e6e6 35%, #b5b5b5 55%, #eeeeee 75%, #c1c1c1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}